<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>HouseCleaning</servlet-name>
        <servlet-class>ServiceMe.CalculateTotal</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogIn</servlet-name>
        <servlet-class>ServiceMe.LogIn</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Cust_SignUp</servlet-name>
        <servlet-class>ServiceMe.Sign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sign</servlet-name>
        <servlet-class>ServiceMe.Sign</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpCust</servlet-name>
        <servlet-class>ServiceMe.SignUpCust</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Session</servlet-name>
        <servlet-class>ServiceMe.Session</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Try</servlet-name>
        <servlet-class>ServiceMe.Try</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>ServiceMe.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TotalCalc</servlet-name>
        <servlet-class>ServiceMe.TotalCalc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpProvider</servlet-name>
        <servlet-class>ServiceMe.SignUpProvider</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpAgent</servlet-name>
        <servlet-class>ServiceMe.SignUpAgent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HCleaning</servlet-name>
        <servlet-class>ServiceMe.HCleaning</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Booking</servlet-name>
        <servlet-class>ServiceMe.Booking</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>ServiceMe.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Agent</servlet-name>
        <servlet-class>ServiceMe.Agent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Banking</servlet-name>
        <servlet-class>ServiceMe.Banking</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HouseCleaning</servlet-name>
        <url-pattern>/HouseCleaning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogIn</servlet-name>
        <url-pattern>/LogIn</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Cust_SignUp</servlet-name>
        <url-pattern>/Cust_SignUp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sign</servlet-name>
        <url-pattern>/Sign</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpCust</servlet-name>
        <url-pattern>/SignUpCust</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Session</servlet-name>
        <url-pattern>/Session</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Try</servlet-name>
        <url-pattern>/Try</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TotalCalc</servlet-name>
        <url-pattern>/TotalCalc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpProvider</servlet-name>
        <url-pattern>/SignUpProvider</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpAgent</servlet-name>
        <url-pattern>/SignUpAgent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HCleaning</servlet-name>
        <url-pattern>/HCleaning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Booking</servlet-name>
        <url-pattern>/Booking</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Agent</servlet-name>
        <url-pattern>/Agent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Banking</servlet-name>
        <url-pattern>/Banking</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
